body {
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration:none;
}
a:hover {
  color: #EAF6F6;
}
p {
    line-height: 2;
}

hr {
  border: 6px dotted #EAF6F6;
  border-bottom: none;
  width: 30%;
  color: #EAF6F6;
  margin: 100px auto;
}

.showcase {
  margin: 100px auto;
  width: 80%;
}
.show-pic {
  width: 100%;
}
.showcase-words {
  text-align: center;
}
.showcase-row {
  margin: 100px auto;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;
}

.bottom-container {
  padding: 50px 0 20px;

  background-color: #66BFBF;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.profile {
  line-height: 2;
  color: #40514E;
}
.my-profile {
  height: 200px;
}
.intro {
  width: 30%;
  margin: auto;
}
.skill-row {
  margin: 50px auto;
  width: 50%;
  text-align: left;
  height: 200px;
  display: block;
}
.skill-p1 {
  width: 20%;
  float: left;
  margin: 0 30px 0 0;
}
.skill-p2 {
  width:20%;
  float: right;
  margin: 0 0 0 30px;
}
.skill-p3 {
  width:20%;
  float: left;
  margin: 0 30px 0 0px;
}
.substitle {
  color:#11999E;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color:#EAF6F6;
  font-size: 0.7rem;
  padding: 20px 0;
}
.contact-me {
  line-height: 2.5;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

/* Projects 整体居中 */
.projects-section {
  width: 80%;
  margin: 0 auto;        /* 整体居中 */
  text-align: center;    /* 标题居中 */
}

/* 每个项目内部左对齐 */
.projects-section .showcase-words {
  text-align: left;      /* 小项靠左 */
  display: inline-block; /* 保持整体居中 + 内容左对齐最关键的一句！ */
  width: 80%;            /* 可调，防止文字太宽 */
  margin: 0 auto;
}
